<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>The Graphics Company</title>
    <link REL="stylesheet" TYPE="text/css" HREF="/css/tgc.css" />
    <meta name="description" content="Commerical and corporate wide-format and standard print and display solutions." />
    <meta name="keywords" content="wide-format printing,digital print,banners,posters,popups,vinyl prints,flyers,brochures,exhibitions,window graphics,signage." />
  </head>
  <body>
    
    <div id="outerWrapper">
      
      <div id="header">
        <div id="companyName">
          <a href="/">THE <br/>
          GRAPHICS COMPANY</a>
        </div>
      </div>
      
      <div id="topNav">
        <div><a <%= top_nav_class(@path, 'about') %> href="/about">ABOUT US</a></div>
        <div><a <%= top_nav_class(@path, 'contact') %> href="/contact">CONTACT US</a></div>
        <% # TODO %>
        <% # <div><a <%= top_nav_class(@path) %> href="/upload">CLIENT FTP</a></div> %>
        <% # <div><a <%= top_nav_class(@path) %> href="/quote">QUICK QUOTE</a></div> %>
        <div id="fblogo">
          <a href="http://facebook.com/graphicscompany"><img src="/imgs/f_logo.png" title="Find us on Facebook" /></a>
        </div>
      </div>

      <div id="nav">
        
        <div><a <%= side_nav_class(@path, 'home') %> href="/">HOME</a></div>
        <div><a <%= side_nav_class(@path, 'pointofsale') %> href="/pointofsale">POINT OF SALE</a></div>
        <div><a <%= side_nav_class(@path, 'posters') %> href="/posters">POSTERS</a></div>
        <div><a <%= side_nav_class(@path, 'displaypanels') %> href="/displaypanels">DISPLAY PANELS</a></div>
        <div><a <%= side_nav_class(@path, 'windowgraphics') %> href="/windowgraphics">WINDOW GRAPHICS</a></div>
        <div><a <%= side_nav_class(@path, 'banners') %> href="/">BANNERS / FLAGS</a></div>
        <div><a <%= side_nav_class(@path, 'exhibitions') %> href="/">EXHIBITIONS &amp; SETS</a></div>
        <div><a <%= side_nav_class(@path, 'digital') %> href="/">DIGITAL PRINT</a></div>
        <div><a <%= side_nav_class(@path, 'design') %> href="/">DESIGN SERVICE</a></div>
      </div>
      
      <div id="content"><%= yield %></div>

      
      <div id="footer">
        :: info@thegraphicscompany.ie :: +353 (1) 840 1311 :: Unit 12 : Redleaf Business Park : Donabate : Co. Dublin : Ireland :: 
      </div>
      
    </div>
    
    
  </body>
</html>