<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>The Graphics Company</title>
    <link REL="stylesheet" TYPE="text/css" HREF="/css/tgc.css" />
    <meta name="description" content="Commerical and corporate wide-format and standard print and display solutions." />
    <meta name="keywords" content="wide-format printing,digital print,banners,posters,popups,vinyl prints,flyers,brochures,exhibitions,window graphics,signage." />
  </head>
  <body>
    
    <div id="outerWrapper">
      
      <div id="header">
        <div id="companyName">
          <a href="/">THE <br/>
          GRAPHICS COMPANY</a>
        </div>
      </div>
      
      <div id="topNav">
        <div><a <%= top_nav_class(@path) %> href="/about">ABOUT US</a></div>
        <div><a <%= top_nav_class(@path) %> href="/contact">CONTACT US</a></div>
        <% # TODO %>
        <% # <div><a <%= top_nav_class(@path) %> href="/upload">CLIENT FTP</a></div> %>
        <% # <div><a <%= top_nav_class(@path) %> href="/quote">QUICK QUOTE</a></div> %>
        <div id="fblogo">
          <a href="http://facebook.com/graphicscompany"><img src="/imgs/f_logo.png" title="Find us on Facebook" /></a>
        </div>
      </div>
      
    
      

      <div id="nav">
        
        <div><a <%= if ($thisSection == "home")   {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/index.php?section=home">HOME</a></div>
        <div><a <%= if ($thisSection == "pointofsale")   {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/index.php?section=pointofsale">POINT OF SALE</a></div>
        <div><a <%= if ($thisSection == "posters") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/index.php?section=posters">POSTERS</a></div>
        <div><a <%= if ($thisSection == "displaypanels") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/index.php?section=displaypanels">DISPLAY PANELS</a></div>
        <div><a <%= if ($thisSection == "windowgraphics") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/index.php?section=windowgraphics">WINDOW GRAPHICS</a></div>
        <div><a <%= if ($thisSection == "bannersflags") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/">BANNERS / FLAGS</a></div>
        <div><a <%= if ($thisSection == "exhibitions") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/">EXHIBITIONS &amp; SETS</a></div>
        <div><a <%= if ($thisSection == "digitalprint") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/">DIGITAL PRINT</a></div>
        <div><a <%= if ($thisSection == "designservice") {%> class="selectedLink" <%= } else { %> class="navLink" <%= } %>href="http://<%= echo $_SERVER['SERVER_NAME'] %>/">DESIGN SERVICE</a></div>
      </div>
      
      <div id="content"><%= yield %></div>

      
      <div id="footer">
        :: info@thegraphicscompany.ie :: +353 (1) 840 1311 :: Unit 12 : Redleaf Business Park : Donabate : Co. Dublin : Ireland :: 
      </div>
      
    </div>
    
    
  </body>
</html>